header {
  color: var(--title-color);
  display: flex;
  align-items: center;
  padding: 0.25rem;
  h1 {
    font-size: var(--medium-font-size);
    font-weight: var(--font-medium);
    margin-inline: 0.25rem;
  }
}

main {
  .search-location {
    width: 50rem;
    margin: auto;
    margin-bottom: var(--mb-2-5);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__add {
      height: 3rem;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
  .clocks {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
  }
}

@media screen and (max-width: 968px) {
  main {
    .search-location {
      width: 100%;
    }
  }
}
