header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .logo {
    color: var(--title-color);
    display: flex;
    align-items: center;
    padding: 0.25rem;
    gap: 0.5rem;
    h1 {
      font-size: var(--medium-font-size);
      font-weight: var(--font-medium);
      margin-inline: 0.25rem;
    }
  }
  .theme {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    i {
      font-size: 2rem;
      color: var(--title-color);
      transition: color 0.4s;
      &:hover {
        color: var(--first-color);
      }
    }
  }
}

main {
  .search-location {
    width: 100%;
    margin: auto;
    margin-bottom: var(--mb-0-25);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    &__add {
      width: 5rem;
      height: 3rem;
      text-transform: uppercase;
      font-size: 1rem;
      &:disabled {
        color: var(--text-color);
      }
    }
    .ant-select {
      .ant-select-selector {
        background-color: var(--body-color);
        .ant-select-selection-search {
          input {
            color: var(--text-color);
          }
        }
      }
      .ant-select-arrow {
        color: var(--text-color);
        font-size: 0.75rem;
      }
      .ant-select-selection-placeholder {
        color: var(--text-color);
      }
      .ant-select-selection-item {
        color: var(--text-color);
      }
    }
  }

  .clocks {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
}

.ant-select-dropdown {
  background-color: var(--body-color);
  .ant-select-item-option-content {
    color: var(--text-color);
  }
}

footer{
  text-align: center;
  padding: 0 0 1rem 0;
  font-size: var(--smaller-font-size);
  a {
    color: var(--text-color);
    font-weight: 600;
    transition: color 0.4s;

  }
}

@media screen and (min-width: 426px) {
  main {
    .search-location {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 968px) {
  main {
    .search-location {
      max-width: 1024px;
    }
  }
}
